# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
/.idea/dictionaries/*
/.idea/shelf/*
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/usage.statistics.xml
/.idea/dataSources.local.xml
/.idea/dataSources/*
/.idea/modules.xml
/.idea/rocketspark-cms 2.iml
/.idea/aws.xml
/.idea/codestream.xml
/.idea/copilot/*
/.idea/tbe-PST.xml
/.idea/jsLibraryMappings.xml
.DS_Store

/src/main.ts
/src/App.vue
index.html